#config_blocks{
	border:1px solid rgba(246, 237, 237, 1);
	margin-bottom: 20px;
	margin-top: 20px;
}
fieldset {
	padding: 0.2em 0.5em;
	border:1px solid black;
}
#config_contents{
	margin-bottom: 50px;
}
#version_control, #continuous_int, #test_case_manage,#bug_manage, #code_analysis, #code_coverage, #unit_test, #other_tools{
	margin-bottom: 20px;
	margin-top: 20px;
}
legend{
	text-align: center;
}
 #check_servers_btn{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
input{
	margin-top: 10px;
}
select{
	width:100%;
}
label{
	margin-top: 10px;
}
#edit_server_config, #save_server_config, #cancel_server_config{
	width: 100px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 15px;
}
#check_servers_btn > button{
	min-width: 100px;
	text-align: center;
	border-radius: 15px;
}
#edit_server_config:enabled, #save_server_config:enabled, #cancel_server_config:enabled {
    background: #188DCD;
}

#check_servers_btn > button:enabled {
    background: #188DCD;
}
#server_info{
	background: #FFC none repeat scroll 0% 0%;
	padding: 2%;
	border-radius: 10px;
	text-align: center;
	color: #F00;	
}
#config_side_bar{
	text-align: center;
}