#config_menu_list >li{
	border: 1px solid black;
	border-radius: 5px;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
}
#config_menu_list > li > a.active{
	background-color:#337ab7;
    color:#fff;
    line-height:25px;
    border: 1px solid black;
	border-radius: 5px;
	//margin-top: 10px;
}