#email_id{
	width : 90%;
}
#email_add_btn, #email_rem_btn{
	width: 100px;
	text-align: center; 
	border-radius: 15px;
}
select{
	margin-top: -5px;
	min-height: 34px;
	width: 100%;
}
#add_uname, #add_username, #add_pw, #add_mail_id, #user_type{
	margin-top: 10px;
}
#edit_email_list{
	margin-top:30px;
	text-align: center;
}
#email_info{
	background: #FFC none repeat scroll 0% 0%;
	padding: 2%;
	border-radius: 10px;
	text-align: center;
	color: #F00;	
}
table{
	width:100%;
//	margin-top: 20px;
}
#email_list{
	border:1px solid rgba(246, 237, 237, 1);
	margin-top: 20px;
	padding:0px;
}
th{
	width:20%;
	padding-bottom: 10px;
	padding-top :10px;
	background-color:#52A2D8;
}
td{
	width:20%;
	padding-bottom: 10px;
	padding-top :10px;
}
td:first-child, th:first-child { 
    width:10%;
}
button{
	margin-top: 20px;
	margin-bottom: 20px;
}
tr:nth-child(even) {
	background-color:#fff;
}
tr:nth-child(odd) {
	background-color: #D8E3EC;
}

/*// for a fixed header
http://stackoverflow.com/questions/4709390/table-header-to-stay-fixed-at-the-top-when-user-scrolls-it-out-of-view-with-jque*/
#email_header_fixed {
    position: fixed;
    margin-top: 0px; 
    display:none;
    background-color:white;
}