 <!DOCTYPE html>
<html>
	<head>
		<title>CIDD</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../css/dashboard/dashboard.css" rel="stylesheet">
	</head>
	<body>
		<script src="../js/dashboard/dashboard.js"></script> 	
		<div class="container-fluid" >
			<div class="row">
				<div id="dashboard_menu" class="col-sm-2 col-md-2 col-lg-2 ">
					<nav id="dashboard_menu_nav" class="navbar">
						 <ul class="nav nav-pills nav-stacked" id="dashboard_menu_list"> 
 							<li class="dropdown" id="proj_status">
								<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Project Status <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a id="overall_gantt" href="javascript:void(0)">Overall Gantt</a> </li>
									<li><a id="release_wise_gantt" href="javascript:void(0)">Release Wise Gantt</a></li>
								</ul>
							</li> 							
 							<li id="cont_int"><a  href="javascript:void(0)">Continuous Integration</a></li>
							<li class="dropdown" id="analysis">
								<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Analysis <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a id="proj_analysis" href="javascript:void(0)">Project Analysis</a> </li>
									<li><a id="build_analysis" href="javascript:void(0)">Build Analysis</a></li>
									<li><a id="rel_analysis" href="javascript:void(0)">Release Analysis</a> </li>
									<li><a id="dev_analysis" href="javascript:void(0)">Developer Analysis</a></li>
									<li><a id="qa_analysis" href="javascript:void(0)">QA Analysis</a> </li>
									<li><a id="bug_analysis" href="javascript:void(0)">Bug Analysis</a></li>
								</ul>
							</li>
						</ul>
					</nav>

				</div>

				<div id="config_contents" class="col-sm-10 col-md-10 col-lg-10 ">
					<!--Contents here -->	
				</div>
			</div>
		</div>
	</body>
</html>
