select{
	margin-top: 10px;
	min-height: 34px;
	width: 100%;
}
input,label{
	margin-top: 10px;
}
input{
	padding: 0px !important;
}
textarea{
	margin-top: 10px;
	width: 100%;
	resize: none;
}
#task_details{
	border-right:1px solid rgba(246, 237, 237, 1);	
}
#task_row1, #task_row2{
	margin-top: 10px;
}
#add_new_task, #edit_task, #save_task{
	width: 100px;
	text-align: center; 
	border-radius: 15px;
	margin-top: 20px;
}
#add_new_task_row{
	margin-left: 1%;
	margin-right: 1%;
}
#task_form{
	border:1px solid rgba(246, 237, 237, 1);	
	padding-bottom: 20px;
	padding-top: 20px;
}
#task_milestone, #task_milestone_spr{
	width:100%;
	padding:0px;
	text-align:center;
}
table{
	width:100%;
}
th{
	width:15%;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color:#52A2D8;
}
td{
	width:15%;
	padding-bottom: 10px;
	padding-top :10px;
}
td:first-child, th:first-child { 
    width:5%;
}
td:last-child, th:last-child { 
    width:35%;
}
tr:nth-child(even) {
	background-color:#fff;
}
tr:nth-child(odd) {
	background-color: #D8E3EC;
}
#task_details_select,#task_list{
	margin-top: 20px;
}
#task_bug_display_btn,#task_test_display_btn{
	width: 100px;
}
#task_path > a, #task_path > span{
	margin-right: 20px;
}